<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="vm">
        Editar Solicitud de Acceso
      </ng-container>
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent fixed-top">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="vm">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">

        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label">Nombre</label>
            <input 
              type="text" 
              class="form-control form-control-lg " 
              name="nombre"
              formControlName="nombre"
              disabled="disabled"/>
          </div>

          <div class="col-lg-6">
            <label class="form-label">Apellido</label>
            <input 
              type="text" 
              class="form-control form-control-lg " 
              name="apellido"
              formControlName="apellido"
              disabled="disabled"/>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label">Tipo de Documento</label>
            <input 
              type="text" 
              class="form-control form-control-lg " 
              name="tipoDocumentoDescripcion"
              formControlName="tipoDocumentoDescripcion"
              disabled="disabled"
              />
          </div>
          <div class="col-lg-6">
            <label class="form-label">Documento</label>
            <input 
              type="text" 
              class="form-control form-control-lg " 
              name="documento"
              formControlName="documento"
              disabled="disabled"/>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label">Teléfono</label>
            <input 
              type="text" 
              class="form-control form-control-lg " 
              name="telefono"
              formControlName="telefono"
              disabled="disabled"/>
          </div>

          <div class="col-lg-6">
            <label class="form-label">Correo</label>
            <input 
              type="email" 
              class="form-control form-control-lg " 
              name="correo"
              formControlName="correo"
              disabled="disabled"/>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label">Tipo de Producto</label>
            <input 
              type="text" 
              class="form-control form-control-lg " 
              name="tipoProductoDescripcion"
              formControlName="tipoProductoDescripcion"
              disabled="disabled"/>
          </div>
          <div class="col-lg-6">
            <label class="form-label">Número de Producto</label>
            <input 
              type="text" 
              class="form-control form-control-lg " 
              name="productoNumero"
              formControlName="productoNumero"
              disabled="disabled"/>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label">Usuario</label>
            <input 
              type="text" 
              class="form-control form-control-lg " 
              name="login"
              formControlName="login"
              disabled="disabled"/>
          </div>
        </div>


        <div class="separator separator-dashed my-8"></div>

        <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10">
          Clientes con Coincidencia en el Core Bancario
        </h3>

        <div class="row" *ngIf="vm && vm.listaRelacionado && vm.listaRelacionado.length === 0">
          <div class="col-lg-12">
            <div class="alert alert-custom alert-light-danger fade show mb-9" role="alert">
              <div class="alert-icon">
                <i class="flaticon-warning"></i>
              </div>
              <div class="alert-text"><strong>No se encontró coincidencia.</strong>
              <br />No se encontró coincidencias en el core bancario para los datos de cédula o pasaporte en la solicitud de acceso de usuario</div>
              <!-- <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">
                    <i class="ki ki-close"></i>
                  </span>
                </button>
              </div> -->
            </div>
          </div>
        </div>


        <div class="row" *ngIf="vm && vm.listaRelacionado && vm.listaRelacionado.length > 0">
          <div class="col-xl-12">
            <!--begin::List Widget 16-->
            <div class="card card-custom card-stretch gutter-b">
              <!--begin::Header-->
              <div class="card-header border-0">
                <h3 class="card-title font-weight-bolder text-dark">
                  Coincidencias
                </h3>
                <P class="text-muted">
                  Se evalúan los clientes que coincidan con la cédula o pasaporte especificado. De estos clientes evaluados, 
                  los que coincidan con el producto especificado, dicho producto se mostrará con la información del cliente.
                </P>
              </div>
              <!--end:Header-->
              <!--begin::Body-->
              <div class="card-body pt-2">
                <!--begin::Item-->
                <ng-container *ngFor="let item of vm.listaRelacionado">
                  <div class="d-flex flex-wrap align-items-center pb-10">
                    <!--begin::Title-->
                    <div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 mr-2">
                      <a href="javascript:" class="text-dark font-weight-bold text-hover-primary mb-1 font-size-lg">{{item.nombreCompleto}}</a>
                      <span class="text-muted font-weight-bold" *ngIf="item.cedula">Cédula: {{item.cedula}}</span>
                      <span class="text-muted font-weight-bold" *ngIf="item.pasaporte">Pasaporte: {{item.pasaporte}}</span>
                      <span class="text-muted font-weight-bold" *ngIf="item.rnc">RNC: {{item.rnc}}</span>
                      <span class="text-muted font-weight-bold" *ngIf="item.productoNumero">Producto: {{item.productoNumero}}</span>
                      <span class="text-danger font-weight-bold" *ngIf="!item.productoNumero">Producto: Sin coincidencia con el producto [{{vm.productoNumero}}]</span>
                    </div>
<!-- public int ClienteId { get; set; }
public byte TipoProductoId { get; set; } = 0;
public string ProductoNumero { get; set; } = ""; -->
                    <!--end::Title-->
                    <!--begin::Btn-->
                    <button type="button" class="btn btn-success btn-sm btn-elevate" (click)="integrar(item.clienteId)" [disabled]="procesando">Integrar</button>
                    
                  </div>
                </ng-container>
                <!--end::Item-->
              </div>
              <!--end::Body-->
            </div>
            <!--end::List Widget 13-->
          </div>  
        </div>

        
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancelar</button>

    <button type="button" class="btn btn-danger btn-elevate mr-2" (click)="rechazar()">Rechazar</button>
    <!-- <ng-container *ngIf="vm">
      <button type="submit" class="btn btn-primary btn-elevate" (click)="save()" [disabled]="formGroup.invalid">Guardar</button>
    </ng-container> -->
  </div>
</div>