<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="panel===1">Crear Cliente - Seleccione el Cliente del Core Bancario</ng-container>
      <ng-container *ngIf="panel===2">Crear Cliente - Complete la Información del Cliente</ng-container>

      <ng-container *ngIf="cargandoBusqueda">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>

    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent fixed-top">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="panel===1">

      <!-- <h3 class="card-title font-weight-bolder text-dark">Clientes del Core Bancario</h3> -->

      <div class="form-group row">
        <div class="col-lg-12" [formGroup]="searchGroup">
          <input 
            type="text"
            class="form-control" 
            name="searchText" 
            placeholder="Búsqueda del cliente del core bancario" 
            value=""
            formControlName="searchTerm" />
            <small class="form-text text-muted"><b>Busque</b> por nombre y apellido, cédula, pasaporte y/o RNC para seleccionar el cliente a crear</small>
        </div>
      </div>

      <ng-container *ngFor="let item of listaCliente">
        <div class="d-flex flex-wrap align-items-center pt-10">
          <div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 mr-2">
            <a href="javascript:" class="text-dark font-weight-bold text-hover-primary mb-1 font-size-lg">{{item.nombre}} {{item.apellido}}</a>
            <span class="text-muted font-weight-bold" *ngIf="item.cedula">Cédula: {{item.cedula}}</span>
            <span class="text-muted font-weight-bold" *ngIf="item.pasaporte">Pasaporte: {{item.pasaporte}}</span>
            <span class="text-muted font-weight-bold" *ngIf="item.rnc">RNC: {{item.rnc}}</span>
          </div>

          <button type="button" class="btn btn-success btn-sm btn-elevate" (click)="seleccionar(item)">Seleccionar</button>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="panel===2">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">

        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label">Nombre</label>
            <input 
              type="text" 
              class="form-control form-control-lg " 
              name="nombre"
              placeholder="Nombre" 
              autocomplete="off" 
              [class.is-invalid]="isControlInvalid('nombre')"
              [class.is-valid]="isControlValid('nombre')"
              formControlName="nombre" />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'nombre')">Es requerido</div>
            <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'nombre')">Debe tener al menos 1 caracter</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'nombre')">Debe tener máximo 100 caracteres</div>
          </div>
          <div class="col-lg-6">
            <label class="form-label">Apellido</label>
            <input 
              type="text" 
              class="form-control form-control-lg " 
              name="apellido"
              placeholder="Apellido" 
              autocomplete="off" 
              [class.is-invalid]="isControlInvalid('apellido')"
              [class.is-valid]="isControlValid('apellido')"
              formControlName="apellido" />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'apellido')">Es requerido</div>
            <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'apellido')">Debe tener al menos 1 caracter</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'apellido')">Debe tener máximo 100 caracteres</div>
          </div>
        </div>

        <div class="form-group row">
          
          <div class="col-lg-6">
            <label class="form-label">Cédula</label>
            <input 
              type="text" 
              class="form-control form-control-lg " 
              [mask]="maskCedula"
              name="cedula"
              placeholder="Cédula" 
              autocomplete="off" 
              [class.is-invalid]="isControlXInvalid('cedula')"
              [class.is-valid]="isControlXValid('cedula')"
              formControlName="cedula" />
            <!-- <div class="invalid-feedback" *ngIf="controlHasError('required', 'cedula')">Es requerido</div> -->
            <div class="invalid-feedback" *ngIf="requiereCedulaPasaporteRnc">Requiere cédula, pasaporte y/o RNC</div>
            <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'cedula')">Debe tener el formato ###-#######-#</div>
            <div class="invalid-feedback" *ngIf="controlHasError('cedulaModulo10Validator', 'cedula')">La cédula es incorrecta</div>
            <!-- <div class="invalid-feedback" *ngIf="controlHasError('requiereIdentificacion', 'cedula')">Requiere cédula o pasaporte</div> -->
          </div>

          <div class="col-lg-6">
            <label class="form-label">Pasaporte</label>
            <input 
              type="text" 
              class="form-control form-control-lg " 
              name="pasaporte"
              placeholder="Pasaporte" 
              autocomplete="off" 
              [class.is-invalid]="isControlXInvalid('pasaporte')"
              [class.is-valid]="isControlXValid('pasaporte')"
              formControlName="pasaporte" />
            <!-- <div class="invalid-feedback" *ngIf="controlHasError('requiereIdentificacion', 'pasaporte')">Requiere cédula o pasaporte</div> -->
            <div class="invalid-feedback" *ngIf="requiereCedulaPasaporteRnc">Requiere cédula, pasaporte y/o RNC</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'pasaporte')">Debe tener máximo 30 caracteres</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label">RNC</label>
            
            <input 
              *ngIf="!marcaEsRncCedula"
              type="text" 
              class="form-control form-control-lg " 
              [mask]="maskRnc"
              name="rnc"
              placeholder="RNC" 
              autocomplete="off" 
              [class.is-invalid]="isControlXInvalid('rnc')"
              [class.is-valid]="isControlXValid('rnc')"
              formControlName="rnc" />

            <input 
              *ngIf="marcaEsRncCedula"  
              type="text" 
              class="form-control form-control-lg " 
              [mask]="maskCedula"
              name="rnc"
              placeholder="RNC en formato cédula"  
              autocomplete="off" 
              [class.is-invalid]="isControlXInvalid('rnc')"
              [class.is-valid]="isControlXValid('rnc')"
              formControlName="rnc" />

            <div class="checkbox-list mt-1">
              <label class="checkbox checkbox-outline">
                <input 
                  type="checkbox"
                  name="esRncCedula"
                  formControlName="esRncCedula"/>
                <span></span>
                Es RNC tipo cédula
              </label> 
            </div>

            <ng-container *ngIf="!marcaEsRncCedula">
              <div class="invalid-feedback" *ngIf="requiereCedulaPasaporteRnc">Requiere cédula, pasaporte y/o RNC</div>
              <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'rnc')">Debe tener el formato #-##-#####-#</div>
              <div class="invalid-feedback" *ngIf="controlHasError('rncModulo11Validator', 'rnc')">El RNC es incorrecto</div>
            </ng-container>

            <ng-container *ngIf="marcaEsRncCedula">
              <div class="invalid-feedback" *ngIf="requiereCedulaPasaporteRnc">Requiere cédula, pasaporte y/o RNC</div>
              <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'rnc')">Debe tener el formato ###-#######-#</div>
              <div class="invalid-feedback" *ngIf="controlHasError('cedulaModulo10Validator', 'rnc')">El RNC en formato cédula es incorrecto</div>
            </ng-container>
            
          </div>
          <div class="col-lg-6">
            <label class="form-label">Correo</label>
            <input 
              type="email" 
              class="form-control form-control-lg " 
              name="correo"
              placeholder="Correo" 
              autocomplete="off" 
              [class.is-invalid]="isControlInvalid('correo')"
              [class.is-valid]="isControlValid('correo')"
              formControlName="correo" />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'correo')">Es requerido</div>
            <div class="invalid-feedback" *ngIf="controlHasError('email', 'correo') || controlHasError('pattern', 'correo')">Debe especificar un correo válido</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'correo')">Debe tener máximo 100 caracteres</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label">Usuario</label>
            <input 
              type="text" 
              class="form-control form-control-lg " 
              name="login"
              placeholder="Usuario" 
              autocomplete="off" 
              [class.is-invalid]="isControlInvalid('login')"
              [class.is-valid]="isControlValid('login')"
              formControlName="login" />

            <div class="invalid-feedback" *ngIf="controlHasError('required', 'login')">Es requerido</div>
            <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'login')">Debe tener al menos 1 caracter</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'login')">Debe tener máximo 100 caracteres</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-12">
            <label class="form-label">Nota</label>
            <textarea 
              type="text" 
              class="form-control " 
              name="nota"
              placeholder="Nota o comentario" 
              autocomplete="off"
              rows="4"
              [class.is-invalid]="isControlInvalid('nota')"
              [class.is-valid]="isControlValid('nota')"
              formControlName="nota"></textarea>
            <!-- <span class="form-text text-muted">Definición o información aclaratoria sobre el campo que podrá ver los usuarios en la solicitud web</span> -->
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'nota')">Es requerido</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'nota')">Debe tener máximo 250 caracteres</div>
          </div>
        </div>

      </form>
    </ng-container>

  </div>
  <div class="modal-footer">
    <ng-container *ngIf="panel===1">
      <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Salir</button>
    </ng-container>

    <ng-container *ngIf="panel===2">
      <button type="button" class="btn btn-light btn-elevate mr-2 mr-auto" (click)="panel=1">Anterior</button>
      <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Salir</button>
      <button type="submit" class="btn btn-primary btn-elevate" (click)="save()" [disabled]="formGroup.invalid || procesando">Crear</button>
    </ng-container>
  </div>
</div>