<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Cliente</h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-primary" (click)="create()">Nuevo</button>
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-4" [formGroup]="searchGroup">
          <label class="form-label">Búsqueda General</label>
          <input type="text" class="form-control" name="searchText" placeholder="Búsqueda" value=""
            formControlName="searchTerm" /><small class="form-text text-muted">Búsqueda en<b> nombre y apellido</b></small>
        </div>
                     
      </div>
    </div>
    
    
    <!-- end: Filtration form -->

    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>
            Nombre
            <app-sort-icon column="nombre" [activeColumn]="sorting.column" [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Apellido
            <app-sort-icon column="apellido" [activeColumn]="sorting.column" [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Correo
            <app-sort-icon column="correo" [activeColumn]="sorting.column" [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>Estado</th>
          <th class="pr-0 text-right" style="min-width: 150px">Acciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let row of service.items$ | async">
            <td>{{ row.nombre }}</td>
            <td>{{ row.apellido }}</td>
            <td>{{ row.correo }}</td>
            <td>
              <span class="label label-lg label-inline" 
                [class.label-light-danger]="row.estaActivo === false"
                [class.label-light-success]="row.estaActivo === true">
                <ng-container *ngIf="!row.estaActivo">Inactivo</ng-container>
                <ng-container *ngIf="row.estaActivo">Activo</ng-container>
              </span>
            </td>
            <td class="pr-0 text-right">
              <a title="Editar" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3" (click)="edit(row.id)">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator" [isLoading]="isLoading" (paginate)="paginate($event)">
    </app-paginator>
  </div>
</div>