<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="vm">
        <ng-container *ngIf="vm.id">Editar</ng-container>
        <ng-container *ngIf="!vm.id">Crear</ng-container>
        Tipo de Solicitud de Servicios y Reclamaciones
        <ng-container *ngIf="vm.id">'{{vm.descripcion}}'</ng-container>
      </ng-container>
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent fixed-top">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="vm">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">

        <ng-container *ngIf="vm.id<=0; else seleccionado">
          <div class="form-group row" >
            <div class="col-lg-12">
              <label class="form-label">Tipo de solicitud</label>
              <select 
                class="form-control form-control-lg  selectpicker"
                data-size="7"
                data-live-search="true"
                name="tipoSolicitudId"  
                [class.is-invalid]="isControlInvalid('tipoSolicitudId')"
                [class.is-valid]="isControlValid('tipoSolicitudId')"
                formControlName="tipoSolicitudId">
                <option [ngValue]="null">Seleccione Uno</option>
                <ng-container *ngFor="let item of listaSolicitud">
                  <option [value]="item.id">{{item.descripcion}}</option>
                </ng-container>
              </select>                
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'tipoSolicitudId')">Es requerido</div>
            </div>
          </div>
        </ng-container>

        <ng-template #seleccionado>
          <h5>{{actualizarDescripcion(vm.tipoSolicitudId)}}</h5>
          <span class="form-text text-muted mb-5">Tipo de solicitud</span>
        </ng-template>

        <div class="form-group row">
          <div class="col-lg-12">
            <label class="form-label">Descripción</label>
            <input 
              type="text" 
              class="form-control form-control-lg " 
              name="descripcion"
              placeholder="Descripción" 
              autocomplete="off" 
              [class.is-invalid]="isControlInvalid('descripcion')"
              [class.is-valid]="isControlValid('descripcion')"
              formControlName="descripcion" />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'descripcion')">Es requerido</div>
            <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'descripcion')">Debe tener al menos 1 caracter</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'descripcion')">Debe tener máximo 250 caracteres</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-12">
            <label class="form-label">Definición del tipo de solicitud</label>
            <textarea 
              type="text" 
              class="form-control form-control-lg " 
              name="descripcionLarga"
              placeholder="Definición o explicación de uso del tipo de solicitud" 
              autocomplete="off"
              rows="3" 
              [class.is-invalid]="isControlInvalid('descripcionLarga')"
              [class.is-valid]="isControlValid('descripcionLarga')"
              formControlName="descripcionLarga"></textarea>
            <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'descripcionLarga')">Debe tener al menos 1 caracter</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'descripcionLarga')">Debe tener máximo 500 caracteres</div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="checkbox-inline">
            <label class="checkbox">
              <input type="checkbox" formControlName="debeEspecificarProducto"/>
              <span></span>Debe de especificar un producto
            </label>
          </div>
        </div>
        
        <ng-container *ngIf="f.debeEspecificarProducto.value">
          <div class="form-group row">
            <div class="col-lg-12">
              <label class="form-label">Tipo de producto</label>
              <select 
                class="form-control form-control-lg  selectpicker"
                data-size="7"
                data-live-search="true"
                name="tipoProductoSolicitudId"  
                [class.is-invalid]="isControlInvalid('tipoProductoSolicitudId')"
                [class.is-valid]="isControlValid('tipoProductoSolicitudId')"
                formControlName="tipoProductoSolicitudId">
                <option [ngValue]="null">Seleccione Uno</option>
                <ng-container *ngFor="let item of listaTipoProducto">
                  <option [value]="item.id">{{item.descripcion}}</option>
                </ng-container>
              </select>                
              <span class="form-text text-muted">Tipo de producto a solicitar</span>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'tipoProductoSolicitudId')">Es requerido</div>
            </div>
          </div>
        </ng-container>

        <div class="col-lg-12">
          <div class="checkbox-inline">
            <label class="checkbox">
              <input type="checkbox" formControlName="enviarCorreoOficialNegocioCliente"/>
              <span></span>Enviar correo al momento de crear una solicitud al oficial de negocios asociado al cliente 
            </label>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="checkbox-inline">
            <label class="checkbox">
              <input type="checkbox" formControlName="enviarCorreoConfigurado"/>
              <span></span>Enviar correo al momento de crear una solicitud a la dirección de correo configurada 
            </label>
          </div>
        </div>

        <ng-container *ngIf="f.enviarCorreoConfigurado.value">
          <div class="form-group row">
            <div class="col-lg-12">
              <label class="form-label">Correo</label>
              <input 
                type="text" 
                class="form-control form-control-lg " 
                name="correoConfigurado"
                placeholder="Correo" 
                autocomplete="off" 
                [class.is-invalid]="isControlInvalid('correoConfigurado')"
                [class.is-valid]="isControlValid('correoConfigurado')"
                formControlName="correoConfigurado" />
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'correoConfigurado')">Es requerido</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'correoConfigurado')">Debe tener al menos 1 caracter</div>
              <div class="invalid-feedback" *ngIf="controlHasError('email', 'correoConfigurado') || controlHasError('pattern', 'correoConfigurado')">Debe especificar un correo válido</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'correoConfigurado')">Debe tener máximo 100 caracteres</div>
            </div>
          </div>
        </ng-container>

        <div class="col-lg-12">
          <div class="checkbox-inline">
            <label class="checkbox">
              <input type="checkbox" formControlName="permiteAdjuntarArchivo"/>
              <span></span>Permite adjuntar archivos
            </label>
          </div>
        </div>

        <ng-container *ngIf="f.permiteAdjuntarArchivo.value">
          <div class="col-lg-12">
            <div class="checkbox-inline">
              <label class="checkbox">
                <input type="checkbox" formControlName="esObligatorioAdjuntarArchivo"/>
                <span></span>Es obligatorio adjuntar un archivo
              </label>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="+vm.id > 0">
          <div class="separator separator-dashed my-8"></div>

          <div *ngIf="vm.estaActivo">
            <button type="button" class="btn btn-danger btn-elevate" (click)="inactivar()">Inactivar</button>
            <span class="form-text text-muted">
              El registro está <b>Activo</b>. Pulse para inactivar. Los registros inactivos no estarán disponibles para solicitar servicios ni reclamaciones.
            </span>
          </div>

          <div *ngIf="!vm.estaActivo">
            <button type="button" class="btn btn-primary btn-elevate" (click)="activar()">Activar</button>
            <span class="form-text text-muted">
              El registro está <b>Inactivo</b>. Pulse para activar.
            </span>
          </div>
        </ng-container>

      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancelar</button>
    <ng-container *ngIf="vm">
      <button type="submit" class="btn btn-primary btn-elevate" (click)="save()" [disabled]="formGroup.invalid">Guardar</button>
    </ng-container>
  </div>
</div>