<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="vm">
        <ng-container *ngIf="nuevo">Crear Relación</ng-container>
        <ng-container *ngIf="!nuevo">Editar Relación</ng-container>
      </ng-container>
    </div>
  </div>

  <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">
    <ng-container *ngIf="vm">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">

        <div class="form-group">
          <div><label>Tipo</label></div>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">  
            <label class="btn btn-outline-primary" [class.active]="+f.tipoId.value === 1">
              <input type="radio" name="tipoId" id="option1" autocomplete="off" formControlName="tipoId" value="1"> Producción
            </label>
            <label class="btn btn-outline-primary" [class.active]="+f.tipoId.value === 2">
              <input type="radio" name="tipoId" id="option2" autocomplete="off" formControlName="tipoId" value="2"> Fabricación
            </label>              
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-12">
            <label class="form-label">Producto</label>
            <select 
              class="form-control selectpicker"
              data-size="7"
              data-live-search="true"
              name="productoProduccionId"
              formControlName="productoProduccionId"
              [class.is-invalid]="isControlInvalid('productoProduccionId')">
              <option [ngValue]="null">Seleccione uno</option>
              <ng-container *ngFor="let item of productoProduccion$ | async">
                <option [value]="item.id">{{item.descripcion}}</option>
              </ng-container>
            </select>                
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'productoProduccionId')">Es requerido</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-12">
            <label class="form-label">Unidad</label>
            <select 
              class="form-control selectpicker"
              data-size="7"
              data-live-search="true"
              name="unidadProduccionId"
              formControlName="unidadProduccionId"
              [class.is-invalid]="isControlInvalid('unidadProduccionId')">
              <option [ngValue]="null">Seleccione uno</option>
              <ng-container *ngFor="let item of unidadProduccion$ | async">
                <option [value]="item.id">{{item.descripcion}}</option>
              </ng-container>
            </select>                
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'unidadProduccionId')">Es requerido</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-12">
            <div class="form-group">
              <label class="form-label">Cantidad</label>
              <input
                  type="number"
                  class="form-control form-control-lg "
                  placeholder="Cantidad"
                  name="cantidad"
                  step="0.01"
                  (blur)="fixCantidadNullFg(formGroup, 'cantidad'); fixMontoDosDecimalesFg(formGroup, 'cantidad')"
                  [class.is-invalid]="isControlInvalid('cantidad')"
                  [class.is-valid]="isControlValid('cantidad')"
                  formControlName="cantidad"
                />
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'cantidad')">Es requerido</div>
              <div class="invalid-feedback" *ngIf="controlHasError('min', 'cantidad')">Debe tener mínimo 0</div>
              <div class="invalid-feedback" *ngIf="controlHasError('max', 'cantidad')">Debe tener máximo 99,999,999.99</div>
            </div>
          </div>
        </div>

        <div class="form-group row" *ngIf="tipoProductoSeleccionado && tipoProductoSeleccionado.usaDescuento">
          <div class="col-lg-12">
            <div class="form-group">
              <label class="form-label">Descuento</label>
              <input
                  type="number"
                  class="form-control form-control-lg "
                  placeholder="Descuento"
                  name="descuento"
                  step="0.01"
                  (blur)="fixCantidadNullFg(formGroup, 'descuento'); fixMontoDosDecimalesFg(formGroup, 'descuento')"
                  [class.is-invalid]="isControlInvalid('descuento')"
                  [class.is-valid]="isControlValid('descuento')"
                  formControlName="descuento"
                />
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'descuento')">Es requerido</div>
              <div class="invalid-feedback" *ngIf="controlHasError('min', 'descuento')">Debe tener mínimo 0</div>
              <div class="invalid-feedback" *ngIf="controlHasError('max', 'descuento')">Debe tener máximo 99,999,999.99</div>
            </div>
          </div>
        </div>

        <div class="form-group row" *ngIf="tipoProductoSeleccionado && tipoProductoSeleccionado.usaDivision">
          <div class="col-lg-12">
            <div class="form-group">
              <label class="form-label">División</label>
              <input
                  type="number"
                  class="form-control form-control-lg "
                  placeholder="División"
                  name="division"
                  step="1"
                  (blur)="fixCantidadNullFg(formGroup, 'division'); fixCantidadNumeroEnteroFg(formGroup, 'division')"
                  [class.is-invalid]="isControlInvalid('division')"
                  [class.is-valid]="isControlValid('division')"
                  formControlName="division"
                />
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'division')">Es requerido</div>
              <div class="invalid-feedback" *ngIf="controlHasError('min', 'division')">Debe tener mínimo 0</div>
              <div class="invalid-feedback" *ngIf="controlHasError('max', 'division')">Debe tener máximo 10</div>
            </div>
          </div>
        </div>

      
      </form>
    </ng-container>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancelar</button>
    <ng-container *ngIf="vm">
      <button type="submit" class="btn btn-primary btn-elevate" (click)="save()">Guardar</button>
    </ng-container>
  </div>
</div>
