<div class="login-form login-forgot">
  <!--begin::Form-->
  <form
    class="form fv-plugins-bootstrap fv-plugins-framework"
    novalidate="novalidate"
    [formGroup]="formGroup"
    id="kt_login_forgot_form"
    [ngStyle]="{
      display: errorState === errorStates.NoError ? 'none' : 'block'
    }"
  >
    <div *ngIf="+panel === +panelUsuario">
      <!--begin::Title-->
      <div class="pb-13 pt-lg-0 pt-5">
        <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
          Recuperar Contraseña
        </h3>
        <p class="text-muted font-weight-bold font-size-h4">
          Paso 1/3 - Digite su usuario
        </p>
      </div>
      <!--end::Title-->

      <!--begin::Form group-->
      <div class="form-group fv-plugins-icon-container has-danger">   
        <input
          class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
          type="text"
          formControlName="login"
          placeholder="Usuario"
          name="login"
          (ngModelChange)="enCambioUsuario()"
          autocomplete="off"
          [ngClass]="{
            'is-invalid': formGroup.controls['login'].invalid
          }"
        />

        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Es requerido',
            control: formGroup.controls['login']
          }">
        </ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message: 'El usuario debe contener como máximo 100 caracteres',
            control: formGroup.controls['login']
          }"
        ></ng-container>
      </div>
      <!--end::Form group-->
      <!--begin::Form group-->
      <div class="form-group d-flex flex-wrap pb-lg-0">
        <button
        type="button"
        id="kt_login_forgot_submit"
        (click)="olvideContrasena()"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">
        Continuar
      </button>
      <a
      routerLink="/auth/login"
      id="kt_login_forgot_cancel"
      class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
      Volver atrás
    </a>
    
    <ng-container *ngIf="procesando === true">
      <span class="spinner spinner-primary ml-5"></span>
    </ng-container>
      </div>
      <!--end::Form group-->
      <div></div>
    </div>

    <div *ngIf="+panel === +panelCodigo">
      <!--begin::Title-->
      <div class="pb-13 pt-lg-0 pt-5">
        <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
          Recuperar Contraseña
        </h3>
        <p class="text-muted font-weight-bold font-size-h4">
          Paso 2/3 - Digite el código enviado a su correo
        </p>
      </div>
      <!--end::Title-->

      <!--begin::Form group-->
      <div class="form-group fv-plugins-icon-container has-danger">   
        <input
          class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
          type="text"
          formControlName="codigo"
          placeholder="Código"
          name="codigo"
          autocomplete="off"
          maxlength="6"
          minlength="6"
          [ngClass]="{
            'is-invalid': formGroup.controls['codigo'].invalid
          }"
        />

        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Es requerido',
            control: formGroup.controls['codigo']
          }">
        </ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'El código debe contener como minimo 6 caracteres',
            control: formGroup.controls['codigo']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message: 'El código debe contener como máximo 6 caracteres',
            control: formGroup.controls['codigo']
          }"
        ></ng-container>

      </div>
      <!--end::Form group-->
      <!--begin::Form group-->
      <div class="form-group d-flex flex-wrap pb-lg-0">
        <button
          type="button"
          id="kt_login_forgot_submit"
          (click)="validaCodigo()"
          class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">
          Continuar
        </button>
        <button
          type="button"
          id="kt_login_forgot_cancel"
          (click)="volverAtras02()"
          class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
          Volver atrás
        </button>
    
        <ng-container *ngIf="procesando === true">
          <span class="spinner spinner-primary ml-5"></span>
        </ng-container>

      </div>
      <div class="d-flex justify-content-between mt-n5">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5"></label>
        <a
          (click)="reenviarCodigoSeguridad()"
          class="text-primary font-size-h6 font-weight-bolder text-hover-primary mt-10"
          id="kt_login_forgot">
          Reenviar Código de Seguridad
        </a>
      </div>
      <!--end::Form group-->
      <div></div>
    </div>

    <div *ngIf="+panel === +panelContrasena">
      <!--begin::Title-->
      <div class="pb-13 pt-lg-0 pt-5">
        <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
          Recuperar Contraseña
        </h3>
        <p class="text-muted font-weight-bold font-size-h4">
          Paso 3/3 - Digite la nueva contraseña y su confirmación
        </p>
      </div>
      <!--end::Title-->

      <!--begin::Form group-->
      <div class="form-group fv-plugins-icon-container">   
        <input
          class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
          type="password"
          formControlName="password"
          placeholder="Contraseña Nueva"
          name="password"
          autocomplete="off"
          [ngClass]="{
            'is-invalid': formGroup.controls['password'].invalid
          }"
        />

        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Es requerido',
            control: formGroup.controls['password']
          }">
        </ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'La contraseña debe contener como mínimo 4 caracteres',
            control: formGroup.controls['password']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message: 'La contraseña debe contener como máximo 100 caracteres',
            control: formGroup.controls['password']
          }"
        ></ng-container>
      </div>

      <div class="form-group  fv-plugins-icon-container has-danger">
        <input
          class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
          type="password"
          formControlName="confirmacionPassword"
          placeholder="Confirmación"
          name="confirmacionPassword"
          autocomplete="off"
          [ngClass]="{
            'is-invalid': formGroup.controls['confirmacionPassword'].invalid
          }"
        />

        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Es requerido',
            control: formGroup.controls['confirmacionPassword']
          }">
        </ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'passwordSonIguales',
            message: 'La nueva contraseña y la confirmación deben ser iguales',
            control: formGroup.controls['confirmacionPassword']
          }"
        ></ng-container>
      </div>
      <!--end::Form group-->
      <!--begin::Form group-->
      <div class="form-group d-flex flex-wrap pb-lg-0">
        <button
          type="button"
          id="kt_login_forgot_submit"
          (click)="actualizarContrasena()"
          class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">
          Actualizar
        </button>
        <button
          type="button"
          id="kt_login_forgot_cancel"
          (click)="volverAtras03()"
          class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">
          Volver atrás
        </button>
    
        <ng-container *ngIf="procesando === true">
          <span class="spinner spinner-primary ml-5"></span>
        </ng-container>
      </div>
      <!--end::Form group-->
      <div></div>
    </div>
  </form>
  <!--end::Form-->
</div>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
