<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Perfil</h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-primary" (click)="create()">Nuevo</button>
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-4" [formGroup]="searchGroup">
          <input type="text" class="form-control" name="searchText" placeholder="Búsqueda" value=""
            formControlName="searchTerm" /><small class="form-text text-muted">Búsqueda <b> en descripción</b></small>
        </div>
      </div>
    </div>
    <!-- end: Filtration form -->

    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>
            Descripción
            <app-sort-icon column="descripcion" [activeColumn]="sorting.column" [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
          </th>
          <th class="pr-0 text-right" style="min-width: 150px">Acciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let row of service.items$ | async">
            <td>{{ row.descripcion }}</td>
            <td class="pr-0 text-right">
              
              <a title="Editar" class="btn btn-icon btn-light btn-hover-primary btn-sm mr-3" (click)="edit(row.id)">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true" class="svg-icon svg-icon-md svg-icon-primary"></span>
              </a>

              <!-- <a title="Copiar" class="btn btn-icon btn-light btn-hover-primary btn-sm mr-3" (click)="copy(row.id, row.descripcion)">
                <i class="fa fa-clone text-primary"></i>
              </a> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator" [isLoading]="isLoading" (paginate)="paginate($event)">
    </app-paginator>
  </div>
</div>