<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="vm">
        Editar Cliente
        <ng-container *ngIf="vm.id">'{{vm.nombre}}'</ng-container>
      </ng-container>
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent fixed-top">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="vm">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">

        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label">Nombre</label>
            <input 
              type="text" 
              class="form-control form-control-lg " 
              name="nombre"
              placeholder="Nombre" 
              autocomplete="off" 
              [class.is-invalid]="isControlInvalid('nombre')"
              [class.is-valid]="isControlValid('nombre')"
              formControlName="nombre" />
            <div class="valid-feedback" *ngIf="isControlValid('nombre')">Es correcto</div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'nombre')">Es requerido</div>
            <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'nombre')">Debe tener al menos 1 caracter</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'nombre')">Debe tener máximo 100 caracteres</div>
          </div>
          <div class="col-lg-6">
            <label class="form-label">Apellido</label>
            <input 
              type="text" 
              class="form-control form-control-lg " 
              name="apellido"
              placeholder="Apellido" 
              autocomplete="off" 
              [class.is-invalid]="isControlInvalid('apellido')"
              [class.is-valid]="isControlValid('apellido')"
              formControlName="apellido" />
            <div class="valid-feedback" *ngIf="isControlValid('apellido')">Es correcto</div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'apellido')">Es requerido</div>
            <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'apellido')">Debe tener al menos 1 caracter</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'apellido')">Debe tener máximo 100 caracteres</div>
          </div>
        </div>

        <div class="form-group row">
          
          <div class="col-lg-6">
            <label class="form-label">Cédula</label>
            <input 
              type="text" 
              class="form-control form-control-lg " 
              [mask]="maskCedula"
              name="cedula"
              placeholder="Cédula" 
              autocomplete="off" 
              [class.is-invalid]="isControlXInvalid('cedula')"
              [class.is-valid]="isControlXValid('cedula')"
              formControlName="cedula" />
            <div class="invalid-feedback" *ngIf="requiereCedulaPasaporteRnc">Requiere cédula, pasaporte y/o RNC</div>
            <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'cedula')">Debe tener el formato ###-#######-#</div>
            <div class="invalid-feedback" *ngIf="controlHasError('cedulaModulo10Validator', 'cedula')">La cédula es incorrecta</div>
          </div>

          <div class="col-lg-6">
            <label class="form-label">Pasaporte</label>
            <input 
              type="text" 
              class="form-control form-control-lg " 
              name="pasaporte"
              placeholder="Pasaporte" 
              autocomplete="off" 
              [class.is-invalid]="isControlXInvalid('pasaporte')"
              [class.is-valid]="isControlXValid('pasaporte')"
              formControlName="pasaporte" />
            <div class="invalid-feedback" *ngIf="requiereCedulaPasaporteRnc">Requiere cédula, pasaporte y/o RNC</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'pasaporte')">Debe tener máximo 30 caracteres</div>
          </div>

        </div>
        
        <div class="form-group row">

          <div class="col-lg-6">
            <label class="form-label">RNC</label>
            
            <input 
              *ngIf="!marcaEsRncCedula"
              type="text" 
              class="form-control form-control-lg " 
              [mask]="maskRnc"
              name="rnc"
              placeholder="RNC" 
              autocomplete="off" 
              [class.is-invalid]="isControlXInvalid('rnc')"
              [class.is-valid]="isControlXValid('rnc')"
              formControlName="rnc" />

            <input 
              *ngIf="marcaEsRncCedula"  
              type="text" 
              class="form-control form-control-lg " 
              [mask]="maskCedula"
              name="rnc"
              placeholder="RNC en formato cédula"  
              autocomplete="off" 
              [class.is-invalid]="isControlXInvalid('rnc')"
              [class.is-valid]="isControlXValid('rnc')"
              formControlName="rnc" />

            <div class="checkbox-list mt-1">
              <label class="checkbox checkbox-outline">
                <input 
                  type="checkbox"
                  name="esRncCedula"
                  formControlName="esRncCedula"/>
                <span></span>
                Es RNC tipo cédula
              </label> 
            </div>

            <ng-container *ngIf="!marcaEsRncCedula">
              <div class="invalid-feedback" *ngIf="requiereCedulaPasaporteRnc">Requiere cédula, pasaporte y/o RNC</div>
              <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'rnc')">Debe tener el formato #-##-#####-#</div>
              <div class="invalid-feedback" *ngIf="controlHasError('rncModulo11Validator', 'rnc')">El RNC es incorrecto</div>
            </ng-container>

            <ng-container *ngIf="marcaEsRncCedula">
              <div class="invalid-feedback" *ngIf="requiereCedulaPasaporteRnc">Requiere cédula, pasaporte y/o RNC</div>
              <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'rnc')">Debe tener el formato ###-#######-#</div>
              <div class="invalid-feedback" *ngIf="controlHasError('cedulaModulo10Validator', 'rnc')">El RNC en formato cédula es incorrecto</div>
            </ng-container>
            
          </div>


          <div class="col-lg-6">
            <label class="form-label">Correo</label>
            <input 
              type="email" 
              class="form-control form-control-lg " 
              name="correo"
              placeholder="Correo" 
              autocomplete="off" 
              [class.is-invalid]="isControlInvalid('correo')"
              [class.is-valid]="isControlValid('correo')"
              formControlName="correo" />
            <div class="valid-feedback" *ngIf="isControlValid('correo')">Es correcto</div>
            <div class="invalid-feedback" *ngIf="controlHasError('email', 'correo') || controlHasError('pattern', 'correo')">Debe especificar un correo válido</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'correo')">Debe tener máximo 100 caracteres</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label">Usuario</label>
            <input 
              type="text" 
              class="form-control form-control-lg " 
              name="login"
              placeholder="Login" 
              autocomplete="off" 
              [class.is-invalid]="isControlInvalid('login')"
              [class.is-valid]="isControlValid('login')"
              formControlName="login" />
            <div class="valid-feedback" *ngIf="isControlValid('login')">Es correcto</div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'login')">Es requerido</div>
            <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'login')">Debe tener al menos 1 caracter</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'login')">Debe tener máximo 100 caracteres</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-12">
            <label class="form-label">Nota</label>
            <textarea 
              type="text" 
              class="form-control " 
              name="nota"
              placeholder="Nota o comentario" 
              autocomplete="off"
              rows="4"
              [class.is-invalid]="isControlInvalid('nota')"
              [class.is-valid]="isControlValid('nota')"
              formControlName="nota"></textarea>
            <!-- <span class="form-text text-muted">Definición o información aclaratoria sobre el campo que podrá ver los usuarios en la solicitud web</span> -->
            <div class="valid-feedback" *ngIf="isControlValid('nota')">Es correcto</div>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'nota')">Es requerido</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'nota')">Debe tener máximo 250 caracteres</div>
          </div>
        </div>

        <div class="separator separator-dashed my-8"></div>
        
        <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10">
          Configuración del Cliente
        </h3>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="permiteSolicitudTransferencia" />
            <span></span>Permite realizar solicitud de transferencia
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="permiteTransferenciaInterna" />
            <span></span>Permite realizar transacciones internas (cuentas propias, cuentas de terceros)
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="permiteTransferenciaOtroBanco" />
            <span></span>Permite realizar transferencia a otras entidades
          </label>
        </div>


        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="permitePagoPrestamo" />
            <span></span>Permite realizar pago de préstamos
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="permitePagoServicio" />
            <span></span>Permite realizar pago de servicios
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="permiteTransaccionMultiple" />
            <span></span>Permite realizar transacción múltiple
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="permiteUsoCuentaAportacionComoOrigen" />
            <span></span>Permite usar cuenta de aportación como origen para transacción
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="permiteCrearCertificaciones" />
            <span></span>Permite crear certificaciones de estudio
          </label>
        </div>

        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label">Monto Máximo de Retiro en Cuentas</label>
            <input
                type="number"
                class="form-control form-control-lg "
                placeholder="Monto máximo de retiro"
                name="montoMaximoRetiroCuentas"
                step="0.01" 
                (blur)="fixCantidadNull('montoMaximoRetiroCuentas'); fixMontoDosDecimales('montoMaximoRetiroCuentas')"
                [class.is-invalid]="isControlInvalid('montoMaximoRetiroCuentas')"
                [class.is-valid]="isControlValid('montoMaximoRetiroCuentas')"
                formControlName="montoMaximoRetiroCuentas"/>
            <span class="form-text text-muted">Se permitirá un monto de retiro menor o igual al especificado.</span>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'montoMaximoRetiroCuentas')">Es requerido</div>
            <div class="invalid-feedback" *ngIf="controlHasError('min', 'montoMaximoRetiroCuentas')">Debe tener mínimo 0.00</div>
            <div class="invalid-feedback" *ngIf="controlHasError('max', 'montoMaximoRetiroCuentas')">Debe tener máximo 99,999,999.99</div>
          </div>
        </div>

        <div class="separator separator-dashed my-8"></div>

        <div class="form-group row" *ngIf="vm.estaActivo">
          <div class="col-lg-12">
            <button type="button" class="btn btn-light-danger font-weight-bold btn-sm" (click)="inactivar()">Inactivar la cuenta del usuario</button>
          </div>
        </div>

        <div class="form-group row" *ngIf="!vm.estaActivo">
          <div class="col-lg-12">
            <button type="button" class="btn btn-light-primary font-weight-bold btn-sm" (click)="activar()">Activar la cuenta del usuario</button>
          </div>
        </div>


        <ng-container *ngIf="vm.bloqueoTransaccionPorCodigoFallido">
          <div class="separator separator-dashed my-8"></div>

          <div class="form-group row" >
            <div class="col-lg-12">
              <button type="button" class="btn btn-light-primary font-weight-bold btn-sm" (click)="quitarBloqueoTransaccionPorCodigoFallido()">Quitar bloqueo de transacciones</button>
            </div>
          </div>
        </ng-container>
        
        <ng-container *ngIf="vm.bloqueoEntradaFallida">
          <div class="separator separator-dashed my-8"></div>

          <div class="form-group row" >
            <div class="col-lg-12">
              <button type="button" class="btn btn-light-primary font-weight-bold btn-sm" (click)="quitarBloqueoEntradaFallida()">Quitar bloqueo de acceso</button>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="vm.twoFactorMetodoId === 2">
          <div class="separator separator-dashed my-8"></div>

          <div class="form-group row" >
            <div class="col-lg-12">
              <button type="button" class="btn btn-light-primary font-weight-bold btn-sm" (click)="cambiarMetodoAutenticacion()">Deshabilitación de aplicación de autenticación</button>
            </div>
          </div>
        </ng-container>

      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-elevate" (click)="reiniciarClave()" *ngIf="vm && vm.estaActivo">Reiniciar Clave de Usuario</button>
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancelar</button>
    <ng-container *ngIf="vm">
      <button type="submit" class="btn btn-primary btn-elevate" (click)="save()" [disabled]="formGroup.invalid" *ngIf="vm.estaActivo">Guardar</button>
    </ng-container>
  </div>
</div>