<ng-container *ngIf="listaDetalle">
  <div class="mt-10">
    
    <div class="row align-items-center">
      <div class="col-md-8 margin-bottom-10-mobile">          
        <h3 class="font-size-lg text-dark-75 font-weight-bold mb-5">
          Representantes para la Impresión de la Certificación
        </h3>
      </div>
    </div>

    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>Sucursal</th>
          <th>Nombre</th>
          <th>Puesto</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaDetalle">
            <td>{{ item.sucursalNombre }}</td>
            <td>
              <div>
                <input
                  name="{{'nombre' + item.sucursalId}}"
                  type="text"
                  [(ngModel)]="item.nombre"
                  class="form-control form-control-sm"
                  maxlength="100"/>
              </div>
            </td>
            <td>
              <div>
                <input
                  name="{{'puesto' + item.sucursalId}}"
                  type="text"
                  [(ngModel)]="item.puesto"
                  class="form-control form-control-sm"
                  maxlength="100"/>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div> 
  </div>
</ng-container>