<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Acceso de Usuarios</h3>
    </div>
    <div class="card-toolbar">
      <button
          type="button" 
          class="btn btn-primary btn-round ripple light" (click)="descargaExcelNo1()">
          <i class="fa fa-spinner fa-spin" *ngIf="cargandoArchivoExcel"></i>
          <i class="icofont icofont-file-excel" *ngIf="!cargandoArchivoExcel"></i>
          Exportar a Excel
      </button>

      <button
          type="button" 
          class="btn btn-primary btn-round ripple light ml-2" (click)="filter()">
          Refrescar
      </button>
    </div>
  </div>
  
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">
        <div class="col-md-3 col-lg-2">
          <label class="form-label">Fecha Inicial</label>
          <div class="input-group" [formGroup]="filterGroup">
            <input
              type="text"
              name="fechaCreacionInicio"
              class="form-control"
              autocomplete="off"
              placeholder="dd/mm/yyyy"
              ngbDatepicker #d="ngbDatepicker"
              formControlName="fechaCreacionInicio"/>
            <div class="input-group-append" (click)="d.toggle()">
              <span class="input-group-text">
                <i class="text-dark-50 flaticon-calendar"></i>
              </span>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-lg-2">
          <label class="form-label">Fecha Final</label>
          <div class="input-group" [formGroup]="filterGroup">
            <input  
              type="text" 
              name="fechaCreacionFin" 
              class="form-control" 
              autocomplete="off"
              placeholder="dd/mm/yyyy"
              ngbDatepicker #d2="ngbDatepicker"              
              formControlName="fechaCreacionFin"/>
            <div class="input-group-append" (click)="d2.toggle()">
              <span class="input-group-text">
                <i class="text-dark-50 flaticon-calendar"></i>
              </span>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-lg-4" [formGroup]="searchGroup">
          <label class="form-label">Búsqueda General</label>
          <input type="text" class="form-control" name="searchText" placeholder="Búsqueda" value=""
            formControlName="searchTerm" />
            <small class="form-text text-muted">Búsqueda en <b>usuario y origen</b></small>
        </div>

        <div class="col-md-3 col-lg-2">
          <div [formGroup]="filterGroup">
            <label class="form-label">Tipo Entrada de Acceso</label>
            <select 
              class="form-control selectpicker"
              data-size="7"
              data-live-search="true"
              name="entradaValidaId"  
              formControlName="entradaValidaId">
              <option [ngValue]="null">Todos</option>
              <option value="1">Válidos</option>
              <option value="2">Inválidos</option>
            </select>   
          </div>             
        </div>

      </div>
    </div>
    <!-- end: Filtration form -->

    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>
            Fecha
            <app-sort-icon column="fechaCreacionLocal" [activeColumn]="sorting.column" [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon> 
          </th>
          <th>
            Usuario
            <app-sort-icon column="login" [activeColumn]="sorting.column" [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon> 
          </th>
          <th>
            Origen
            <app-sort-icon column="origen" [activeColumn]="sorting.column" [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon> 
          </th>
          <th class="text-center">
            Válido
            <app-sort-icon column="entradaValida" [activeColumn]="sorting.column" [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon> 
          </th>
          <th>
            Dispositivo
            <app-sort-icon column="clientDevice" [activeColumn]="sorting.column" [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon> 
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let row of service.items$ | async">
            <td>{{ row.fechaCreacionLocal | date: 'dd/MM/yyyy hh:mm:ss a' }}</td>
            <td>{{ row.login }}</td>
            <td>{{ row.origen }} <span class="ml-2" *ngIf="row.remoteIp">| {{ row.remoteIp }}</span></td>
            <td class="text-center">{{ row.entradaValida ? 'Sí' : 'No' }}</td>
            <td>{{ row.clientDevice }}<br/><small class="text-muted">{{row.clientOsVersion}}</small></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator" [isLoading]="isLoading" (paginate)="paginate($event)">
    </app-paginator>
  </div>
</div>