<!--begin::Signin-->
<div class="login-form login-signin">
  <!--begin::Form-->
  <form
    class="form"
    [formGroup]="loginForm"
    novalidate="novalidate"
    id="kt_login_signin_form"
    (ngSubmit)="submit()">
    <!--begin::Title-->
    <div class="pb-13 pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
        Cambio de Contraseña
      </h3>
    </div>

    <!--begin::Form group-->
    <div class="form-group">
      <div class="d-flex justify-content-between mt-n5">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5">Contraseña Anterior</label>
      </div>

      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
        type="password"
        name="passwordViejo"
        autocomplete="off"
        formControlName="passwordViejo"
        [ngClass]="{ 'is-invalid': loginForm.controls['passwordViejo'].invalid }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Es requerido',
          control: loginForm.controls['passwordViejo']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'Debe tener máximo 100 caracteres',
          control: loginForm.controls['passwordViejo']
        }"
      ></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group">
      <div class="d-flex justify-content-between mt-n5">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5">Nueva Contraseña</label>
      </div>

      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
        type="password"
        name="passwordNuevo"
        autocomplete="off"
        formControlName="passwordNuevo"
        [ngClass]="{ 'is-invalid': loginForm.controls['passwordNuevo'].invalid }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Es requerido',
          control: loginForm.controls['passwordNuevo']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'Debe tener al menos 4 caracteres',
          control: loginForm.controls['passwordNuevo']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'Debe tener máximo 100 caracteres',
          control: loginForm.controls['passwordNuevo']
        }"
      ></ng-container>
      
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'passwordViejoNuevoIguales',
          message: 'La contraseña anterior y la nueva contraseña no deben ser iguales',
          control: loginForm.controls['passwordNuevo']
        }"
      ></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group">
      <div class="d-flex justify-content-between mt-n5">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5">Confirmación de la nueva contraseña</label>
      </div>

      <input
        class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
        type="password"
        name="confirmacionPassword"
        autocomplete="off"
        formControlName="confirmacionPassword"
        [ngClass]="{ 'is-invalid': loginForm.controls['confirmacionPassword'].invalid }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Es requerido',
          control: loginForm.controls['confirmacionPassword']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'Debe tener máximo 100 caracteres',
          control: loginForm.controls['confirmacionPassword']
        }"
      ></ng-container>

      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'passwordSonIguales',
          message: 'La nueva contraseña y la confirmación deben ser iguales',
          control: loginForm.controls['confirmacionPassword']
        }"
      ></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Action-->
    <div class="pb-lg-0 pb-5">
      <button
        type="submit"
        id="kt_login_signin_submit"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
        [disabled]="loginForm.invalid">
        Cambiar
      </button>

      <a
        type="button"
        id="kt_login_signup_cancel"
        class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3"
        (click)="cancelar()">
        Cancelar
      </a>
      
      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
    <!--end::Action-->
  </form>
  <!--end::Form-->
</div>
<!--end::Signin-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation">
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
