<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="vm">
        <ng-container *ngIf="vm.id">Editar</ng-container>
        <ng-container *ngIf="!vm.id">Crear</ng-container>
        Configuración General
      </ng-container>
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent fixed-top">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="vm">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">

        <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10">
          Clave de Usuario
        </h3>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="claveRequiereMayuscula" />
            <span></span>Requiere mayúscula
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="claveRequiereMinuscula" />
            <span></span>Requiere minúscula
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="claveRequiereNumero" />
            <span></span>Requiere número
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="claveRequiereSimbolo" />
            <span></span>Requiere símbolo
          </label>
        </div>

        <div class="form-group row">
          
          <div class="col-lg-6">
            <label class="form-label">Cantidad de caracteres mínimos permitidos</label>
            <input
                type="number"
                class="form-control form-control-lg "
                placeholder="Tamaño de archivo en Mb"
                name="claveCaracteresMinimo"
                step="1" 
                (blur)="fixCantidadNumeroEntero('claveCaracteresMinimo'); fixCantidadNull('claveCaracteresMinimo')"
                [class.is-invalid]="isControlInvalid('claveCaracteresMinimo')"
                [class.is-valid]="isControlValid('claveCaracteresMinimo')"
                formControlName="claveCaracteresMinimo"
              />
            <span class="form-text text-muted">Especifique un valor entre <strong>1 y 32</strong></span>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'claveCaracteresMinimo')">Es requerido</div>
            <div class="invalid-feedback" *ngIf="controlHasError('min', 'claveCaracteresMinimo')">Debe tener mínimo 1</div>
            <div class="invalid-feedback" *ngIf="controlHasError('max', 'claveCaracteresMinimo')">Debe tener máximo 32</div>
          </div>
          
        </div>

        <div class="separator separator-dashed my-8"></div>

        <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10">
          Sobre las Cuentas de Aportaciones y Ahorros
        </h3>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="permiteVerCuentaClienteAutorizado" />
            <span></span>Permite ver cuentas donde es cliente Autorizado
          </label>
        </div>

        <div class="checkbox-inline" *ngIf="f.permiteVerCuentaClienteAutorizado.value">
          <label class="checkbox">
            <input type="checkbox" formControlName="permiteOperacionCuentaClienteAutorizado" />
            <span></span>Permite hacer operaciones en cuentas donde es cliente autorizado
          </label>
        </div>


        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="permiteVerCuentaClienteBeneficiario" />
            <span></span>Permite ver cuentas donde es cliente beneficiario
          </label>
        </div>

        <div class="checkbox-inline" *ngIf="f.permiteVerCuentaClienteBeneficiario.value">
          <label class="checkbox">
            <input type="checkbox" formControlName="permiteOperacionCuentaClienteBeneficiario" />
            <span></span>Permite hacer operaciones en cuentas donde es cliente beneficiario
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="permiteVerCuentaClienteApoderado" />
            <span></span>Permite ver cuentas donde es cliente apoderado
          </label>
        </div>

        <div class="checkbox-inline" *ngIf="f.permiteVerCuentaClienteApoderado.value">
          <label class="checkbox">
            <input type="checkbox" formControlName="permiteOperacionCuentaClienteApoderado" />
            <span></span>Permite hacer operaciones en cuentas donde es cliente apoderado
          </label>
        </div>

        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label">Monto Máximo de Retiro en Cuentas</label>
            <input
                type="number"
                class="form-control form-control-lg "
                placeholder="Monto máximo de retiro"
                name="montoMaximoRetiroCuentas"
                step="0.01" 
                (blur)="fixCantidadNull('montoMaximoRetiroCuentas'); fixMontoDosDecimales('montoMaximoRetiroCuentas')"
                [class.is-invalid]="isControlInvalid('montoMaximoRetiroCuentas')"
                [class.is-valid]="isControlValid('montoMaximoRetiroCuentas')"
                formControlName="montoMaximoRetiroCuentas"/>
            <span class="form-text text-muted">Se permitirá un monto de retiro menor o igual al especificado.</span>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'montoMaximoRetiroCuentas')">Es requerido</div>
            <div class="invalid-feedback" *ngIf="controlHasError('min', 'montoMaximoRetiroCuentas')">Debe tener mínimo 0.00</div>
            <div class="invalid-feedback" *ngIf="controlHasError('max', 'montoMaximoRetiroCuentas')">Debe tener máximo 99,999,999.99</div>
          </div>
        </div>

        <div class="separator separator-dashed my-8"></div>

        <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10">
          Sobre Movimientos 
        </h3>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="enviarNotificacionTransaccionTope" />
            <span></span>Enviar notificación cuando se realice un movimiento mayor a un monto especificado 
          </label>
        </div>

        <ng-container *ngIf="formValue.enviarNotificacionTransaccionTope">
        
          <div class="form-group row">
            <div class="col-lg-6">
              <label class="form-label">Monto tope para notificación</label>
              <input
                  type="number"
                  class="form-control form-control-lg "
                  placeholder="Monto tope de transacción"
                  name="montoNotificacionTransaccionTope"
                  step="0.01" 
                  (blur)="fixCantidadNull('montoNotificacionTransaccionTope'); fixMontoDosDecimales('montoNotificacionTransaccionTope')"
                  [class.is-invalid]="isControlInvalid('montoNotificacionTransaccionTope')"
                  [class.is-valid]="isControlValid('montoNotificacionTransaccionTope')"
                  formControlName="montoNotificacionTransaccionTope"/>
              <span class="form-text text-muted">Si la transaccion sobrepasa el tope se envia una notificación a los correos especificados.</span>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'montoNotificacionTransaccionTope')">Es requerido</div>
              <div class="invalid-feedback" *ngIf="controlHasError('min', 'montoNotificacionTransaccionTope')">Debe tener mínimo 0.00</div>
              <div class="invalid-feedback" *ngIf="controlHasError('max', 'montoNotificacionTransaccionTope')">Debe tener máximo 99,999,999.99</div>
            </div>
          </div>

          <div class="checkbox-inline">
            <label class="checkbox">
              <input type="checkbox" formControlName="enviarNotificacionTransaccionTopeCorreoOficialCliente" />
              <span></span>Enviar la notificación al correo del oficial de negocios del cliente 
            </label>
          </div>

          <div class="checkbox-inline">
            <label class="checkbox">
              <input type="checkbox" formControlName="enviarNotificacionTransaccionTopeCorreoEspecificado" />
              <span></span>Enviar la notificación a un correo especificado
            </label>
          </div>
  
          <div class="form-group row" *ngIf="formValue.enviarNotificacionTransaccionTopeCorreoEspecificado">
            <div class="col-lg-12">
              <label class="form-label">Correo para notificación de movimiento mayor a un monto</label>
              <input 
                type="email"
                class="form-control form-control-lg " 
                name="correoNotificacionTransaccionTope"
                placeholder="" 
                autocomplete="off" 
                [class.is-invalid]="isControlInvalid('correoNotificacionTransaccionTope')"
                [class.is-valid]="isControlValid('correoNotificacionTransaccionTope')"
                formControlName="correoNotificacionTransaccionTope" />
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'correoNotificacionTransaccionTope')">Es requerido</div>
              <div class="invalid-feedback" *ngIf="controlHasError('email', 'correoNotificacionTransaccionTope') || controlHasError('pattern', 'correoNotificacionTransaccionTope')">
                Debe especificar un correo válido
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'correoNotificacionTransaccionTope')">Debe tener máximo 100 caracteres</div>
            </div>
          </div>

        </ng-container>

        <div class="separator separator-dashed my-8"></div>

        <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10">
          Sobre Préstamos
        </h3>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="permiteVerPrestamoClienteGarante" />
            <span></span>Permite ver préstamos donde es cliente garante
          </label>
        </div>

        <div class="checkbox-inline" *ngIf="f.permiteVerPrestamoClienteGarante.value">
          <label class="checkbox">
            <input type="checkbox" formControlName="permiteOperacionPrestamoClienteGarante" />
            <span></span>Permite hacer operaciones en préstamos donde es cliente garante
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="permiteVerPrestamoClienteFirmaContrato" />
            <span></span>Permite ver préstamos donde es cliente que firma contrato
          </label>
        </div>

        <div class="checkbox-inline" *ngIf="f.permiteVerPrestamoClienteFirmaContrato.value">
          <label class="checkbox">
            <input type="checkbox" formControlName="permiteOperacionPrestamoClienteFirmaContrato" />
            <span></span>Permite hacer operaciones en préstamos donde es cliente que firma contrato
          </label>
        </div>

        <div class="separator separator-dashed my-8"></div>

        <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10">
          Sobre Recuperación de Clave de Clientes
        </h3>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="enviarNotificacionRecuperacionClave" />
            <span></span>Utiliza notificación cuando se realice una recuperación de clave
          </label>
        </div>

        <ng-container *ngIf="f.enviarNotificacionRecuperacionClave.value">
          <div class="checkbox-inline">
            <label class="checkbox">
              <input type="checkbox" formControlName="enviarNotificacionRecuperacionClaveDesdeAdmin" />
              <span></span>Enviar notificaciones al oficial de negocios y/o al correo especificado cuando un usuario interno recupere la clave en nombre del cliente
            </label>
          </div>

          <div class="checkbox-inline">
            <label class="checkbox">
              <input type="checkbox" formControlName="enviarNotificacionRecuperacionClaveCorreoOficialCliente" />
              <span></span>Enviar la notificación al correo del oficial de negocios del cliente 
            </label>
          </div>

          <div class="checkbox-inline">
            <label class="checkbox">
              <input type="checkbox" formControlName="enviarNotificacionRecuperacionClaveCorreoEspecificado" />
              <span></span>Enviar la notificación a un correo especificado
            </label>
          </div>
  
          <div class="form-group row" *ngIf="formValue.enviarNotificacionRecuperacionClaveCorreoEspecificado">
            <div class="col-lg-12">
              <label class="form-label">Correo para notificación de recuperación de clave</label>
              <input 
                type="email"
                class="form-control form-control-lg " 
                name="correoNotificacionRecuperacionClave"
                placeholder="" 
                autocomplete="off" 
                [class.is-invalid]="isControlInvalid('correoNotificacionRecuperacionClave')"
                [class.is-valid]="isControlValid('correoNotificacionRecuperacionClave')"
                formControlName="correoNotificacionRecuperacionClave" />
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'correoNotificacionRecuperacionClave')">Es requerido</div>
              <div class="invalid-feedback" *ngIf="controlHasError('email', 'correoNotificacionRecuperacionClave') || controlHasError('pattern', 'correoNotificacionRecuperacionClave')">
                Debe especificar un correo válido
              </div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'correoNotificacionRecuperacionClave')">Debe tener máximo 100 caracteres</div>
            </div>
          </div>
        </ng-container>

        <div class="separator separator-dashed my-8"></div>
        
        <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10">
          Solicitud de Servicios y Reclamaciones
        </h3>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="utilizaServiciosReclamaciones" />
            <span></span>Utiliza solicitud de servicios y reclamaciones
          </label>
        </div>

        <div class="separator separator-dashed my-8"></div>
        
        <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10">
          Solicitud de Acceso
        </h3>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="empresaUtilizaCuentaAhorro" />
            <span></span>Utiliza cuentas de ahorros como tipo de producto en la solicitud
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="empresaUtilizaCuentaAportacion" />
            <span></span>Utiliza cuentas de aportaciones como tipo de producto en la solicitud
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="empresaUtilizaPrestamo" />
            <span></span>Utiliza préstamos como tipo de producto en la solicitud
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="empresaUtilizaCertificado" />
            <span></span>Utiliza certificados como tipo de producto en la solicitud
          </label>
        </div>

        <div class="separator separator-dashed my-8"></div>
        
        <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10">
          Proceso de Mantenimiento
        </h3>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="estaEnProcesoMantenimiento" />
            <span></span>Se encuentra en proceso de mantenimiento
          </label>
          <span class="form-text text-muted">Esta marca es utilizada para prevenir que los clientes puedan tener acceso a hacer transacciones.</span>
        </div>

        <ng-container *ngIf="f.estaEnProcesoMantenimiento.value">
          <div class="form-group row">
            <div class="col-lg-12">
              <label class="form-label">Mensaje para presentar al cliente</label>
              <textarea
                  type=""
                  class="form-control form-control-lg "
                  placeholder="Mensaje"
                  name="mensajeProcesoMantenimiento"
                  rows="4"
                  autocomplete="off"
                  [class.is-invalid]="isControlInvalid('mensajeProcesoMantenimiento')"
                  [class.is-valid]="isControlValid('mensajeProcesoMantenimiento')"
                  formControlName="mensajeProcesoMantenimiento"
                ></textarea>

              <span class="form-text text-muted">Especifique un valor entre <strong>1 y 250</strong></span>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'mensajeProcesoMantenimiento')">Es requerido</div>
              <div class="invalid-feedback" *ngIf="controlHasError('max', 'mensajeProcesoMantenimiento')">Debe tener máximo 250</div>
            </div>
          </div>

          <div class="checkbox-inline">
            <label class="checkbox">
              <input type="checkbox" formControlName="procesoMantenimientoPermiteLogin" />
              <span></span>Permite a los clientes iniciar sesión para visualizar información 
            </label>
          </div>
        </ng-container>

        <div class="separator separator-dashed my-8"></div>

        <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10">
          Otras Configuraciones
        </h3>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="utilizaDivisaManual" />
            <span></span>Utiliza divisa manual
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="permiteSolicitudTransferencia" />
            <span></span>Permite realizar solicitud de transferencia
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="permiteTransferenciaInterna" />
            <span></span>Permite realizar transacciones internas (cuentas propias, cuentas de terceros)
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="permiteTransferenciaOtroBanco" />
            <span></span>Permite realizar transferencia a otras entidades
          </label>
        </div>


        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="permitePagoPrestamo" />
            <span></span>Permite realizar pago de préstamos
          </label>
        </div>


        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="permitePagoServicio" />
            <span></span>Permite realizar pago de servicios
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="asignaAClienteAccesosATransacciones" />
            <span></span>Asignar a nuevos usuarios accesos a transacciones definidas por la empresa
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="permiteTransaccionMultiple" />
            <span></span>Permite realizar transacción múltiple
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="asignaAClienteAccesosATransaccionMultiple" />
            <span></span>Asignar a nuevos usuarios accesos a transacción múltiple definidos por la empresa
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="requiereActualizacionDatosContacto" />
            <span></span>Requiere que el cliente actualice los datos de contacto
          </label>
        </div>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="alertaSeleccionCuentaAportacionComoDestinoTransaccion" (click)="mostrarMensaje()"/>
            <span></span>Dar alerta al seleccionar una cuenta de aportaciones como destino de una transacción
          </label>
        </div>

        <ng-container *ngIf="mostrarMensajeAlerta">
          <div class="form-group row">
            <div class="col-lg-12">
              <label class="form-label">Mensaje de alerta.</label>
              <textarea
                  type=""
                  class="form-control form-control-lg "
                  placeholder="Mensaje"
                  name="mensajeAlertaSeleccionCuentaAportacion"
                  rows="4"
                  autocomplete="off"
                  [class.is-invalid]="isControlInvalid('mensajeAlertaSeleccionCuentaAportacion')"
                  [class.is-valid]="isControlValid('mensajeAlertaSeleccionCuentaAportacion')"
                  formControlName="mensajeAlertaSeleccionCuentaAportacion"
                ></textarea>

              <span class="form-text text-muted">Especifique un valor entre <strong>1 y 250</strong></span>
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'mensajeAlertaSeleccionCuentaAportacion')">Es requerido</div>
              <div class="invalid-feedback" *ngIf="controlHasError('max', 'mensajeAlertaSeleccionCuentaAportacion')">Debe tener máximo 250</div>
            </div>
          </div>
        </ng-container>

        <div class="checkbox-inline">
          <label class="checkbox">
            <input type="checkbox" formControlName="agregarNotaComoMotivoCancelacionTransferenciaOtroBanco"/>
            <span></span>Marcar por defecto la opción de agregar la nota al correo como motivo de cancelación en transferencias a otras entidades
          </label>
        </div>

        <div class="separator separator-dashed my-8"></div>

        <div class="form-group row">
          <div class="col-lg-12">
            <label class="form-label">Tipo de Asignación de nombre del usuario</label>
            <select 
              class="form-control form-control-lg  selectpicker"
              data-size="7"
              data-live-search="true"
              name="tipoAsignacionUsuario"  
              formControlName="tipoAsignacionUsuario">
              <ng-container *ngFor="let item of listaTipoAsignacionUsuario">
                <option [value]="item.id">{{item.descripcion}}</option>
              </ng-container>
            </select>                
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'tipoAsignacionUsuario')">Es requerido</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-12">
            <label class="form-label">Tipo de modelo de presentación de tabla de amortización</label>
            <select 
              class="form-control form-control-lg  selectpicker"
              data-size="7"
              data-live-search="true"
              name="modeloTablaAmortizacion"  
              formControlName="modeloTablaAmortizacion">
              <ng-container *ngFor="let item of listaModeloTablaAmortizacion">
                <option [value]="item.id">{{item.descripcion}}</option>
              </ng-container>
            </select>                
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'modeloTablaAmortizacion')">Es requerido</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-12">
            <label class="form-label">Formato de identificador de cuentas</label>
            <select 
              class="form-control form-control-lg  selectpicker"
              data-size="7"
              data-live-search="true"
              name="formatoIdentificadorCuenta"  
              formControlName="formatoIdentificadorCuenta">
              <ng-container *ngFor="let item of listaFormatoIdentificadorCuenta">
                <option [value]="item.id">{{item.descripcion}}</option>
              </ng-container>
            </select>                
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'formatoIdentificadorCuenta')">Es requerido</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-12">
            <label class="form-label">Formato de identificador de certificado</label>
            <select 
              class="form-control form-control-lg  selectpicker"
              data-size="7"
              data-live-search="true"
              name="formatoIdentificadorCertificado"  
              formControlName="formatoIdentificadorCertificado">
              <ng-container *ngFor="let item of listaFormatoIdentificadorCertificado">
                <option [value]="item.id">{{item.descripcion}}</option>
              </ng-container>
            </select>                
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'formatoIdentificadorCertificado')">Es requerido</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-12">
            <label class="form-label">Formato de contrato de préstamo</label>
            <select 
              class="form-control form-control-lg  selectpicker"
              data-size="7"
              data-live-search="true"
              name="formatoContratoPrestamo"  
              formControlName="formatoContratoPrestamo">
              <ng-container *ngFor="let item of listaFormatoContratoPrestamo">
                <option [value]="item.id">{{item.descripcion}}</option>
              </ng-container>
            </select>                
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'formatoContratoPrestamo')">Es requerido</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-12">
            <label class="form-label">País por defecto</label>
            <select 
              class="form-control form-control-lg selectpicker"
              data-size="7"
              data-live-search="true"
              name="paisId"  
              [class.is-invalid]="isControlInvalid('paisId')"
              [class.is-valid]="isControlValid('paisId')"
              formControlName="paisId">
              <option [ngValue]="null">Seleccione Uno</option>
              <ng-container *ngFor="let item of listaPais$ | async">
                <option [value]="item.id">{{item.descripcion}}</option>
              </ng-container>
            </select>                
            <span class="form-text text-muted">Seleccione el país por defecto para ser utilizado en direcciones</span>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'paisId')">Es requerido</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-12">
            <label class="form-label">Usuario para integración al core</label>
            <select 
              class="form-control form-control-lg selectpicker"
              data-size="7"
              data-live-search="true"
              name="usuarioCoreId"  
              formControlName="usuarioCoreId"
              [class.is-invalid]="isControlInvalid('usuarioCoreId')">
              <option [ngValue]="null">Seleccione Uno</option>
              <ng-container *ngFor="let item of usuarioCore$ | async">
                <option [value]="item.id">{{item.descripcion}}</option>
              </ng-container>
            </select>
            <span class="form-text text-muted">Usuario por defecto para utilizar en integración al core</span>
          </div>
        </div>

        <div class="separator separator-dashed my-8"></div>
        
        <div class="form-group row">
          <div class="col-lg-12">
            <label class="form-label">Correo para notificación de solicitud de transferencia</label>
            <input 
              type="email"
              class="form-control form-control-lg " 
              name="correoEnvioSolicitudTransferencia"
              placeholder="" 
              autocomplete="off" 
              [class.is-invalid]="isControlInvalid('correoEnvioSolicitudTransferencia')"
              [class.is-valid]="isControlValid('correoEnvioSolicitudTransferencia')"
              formControlName="correoEnvioSolicitudTransferencia" />
            <span class="form-text text-muted">En caso de que el cliente no tenga un oficial con correo, se estará notificando a este correo las solicitudes de transferencia.</span>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'correoEnvioSolicitudTransferencia')">Es requerido</div>
            <div class="invalid-feedback" *ngIf="controlHasError('email', 'correoEnvioSolicitudTransferencia') || controlHasError('pattern', 'correoEnvioSolicitudTransferencia')">
              Debe especificar un correo válido
            </div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'correoEnvioSolicitudTransferencia')">Debe tener máximo 100 caracteres</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-lg-12">
            <label class="form-label">Correo para notificación de solicitud de actualización de datos del cliente</label>
            <input 
              type="email"
              class="form-control form-control-lg " 
              name="correoEnvioSolicitudActualizacionDatosCliente"
              placeholder="" 
              autocomplete="off" 
              [class.is-invalid]="isControlInvalid('correoEnvioSolicitudActualizacionDatosCliente')"
              [class.is-valid]="isControlValid('correoEnvioSolicitudActualizacionDatosCliente')"
              formControlName="correoEnvioSolicitudActualizacionDatosCliente" />
            <span class="form-text text-muted">En caso de que el cliente no tenga un oficial con correo, se estará notificando a este correo las solicitudes de actualización de datos del cliente.</span>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'correoEnvioSolicitudActualizacionDatosCliente')">Es requerido</div>
            <div class="invalid-feedback" *ngIf="controlHasError('email', 'correoEnvioSolicitudActualizacionDatosCliente') || controlHasError('pattern', 'correoEnvioSolicitudActualizacionDatosCliente')">
              Debe especificar un correo válido
            </div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'correoEnvioSolicitudActualizacionDatosCliente')">Debe tener máximo 100 caracteres</div>
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-lg-12">
            <label class="form-label">Correo para notificación de solicitud de transacción múltiple</label>
            <input 
              type="email"
              class="form-control form-control-lg " 
              name="correoEnvioSolicitudTransaccionMultiple"
              placeholder="" 
              autocomplete="off" 
              [class.is-invalid]="isControlInvalid('correoEnvioSolicitudTransaccionMultiple')"
              [class.is-valid]="isControlValid('correoEnvioSolicitudTransaccionMultiple')"
              formControlName="correoEnvioSolicitudTransaccionMultiple" />
            <span class="form-text text-muted">En caso de que el cliente no tenga un oficial con correo, se estará notificando a este correo las solicitudes de transacción múltiple.</span>
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'correoEnvioSolicitudTransaccionMultiple')">Es requerido</div>
            <div class="invalid-feedback" *ngIf="controlHasError('email', 'correoEnvioSolicitudTransaccionMultiple') || controlHasError('pattern', 'correoEnvioSolicitudTransaccionMultiple')">
              Debe especificar un correo válido
            </div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'correoEnvioSolicitudTransaccionMultiple')">Debe tener máximo 100 caracteres</div>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancelar</button>
    <ng-container *ngIf="vm">

      <button type="submit" class="btn btn-primary btn-elevate" (click)="save()"
        [disabled]="formGroup.invalid">Guardar</button>
    </ng-container>
  </div>
</div>